

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #124559;
  /* height: 25px; */
  padding: 6vh;
  z-index: 1;
  max-height: 20px;
  text-align: center;
}

.logo {
  width: 300px;
  height: auto;
  margin-top: -5vh;
  position: relative;
  left: -5vw;
  background-size: contain;
}
.header_nav {
  height: 100%;
}

.header_nav_items a {
  color: white;
  text-decoration: none;
}

.header_nav_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header_nav_items li {
  padding: 22px;
}

.header_nav_items a:hover,
.header_nav_items a:active {
  color: yellow;
}
