
body{
  text-align: center;
}

.title {
  text-align: center;
  color: #124559;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px white;
}

.title2 {
  text-align: center;
  color: #124559;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px white;
}

.buttons {
  text-align: center;
}

.divider {
  width: 50px;
  height: auto;
  display: inline-block;
}

.login-container,
.signin-container {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;

}
