.formTot {
  background-image: url(https://images.unsplash.com/photo-1550838630-599ea8e4dc01?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 10em;
  padding-bottom: 11em;
}

.formBody {
  background-color: white;
  width: 30vw;
  margin-left: 32vw;
}

.logoutCard {
  display: inline-block;
  background-color: white;
  width: 500px;
  height: 200px;
  padding-top: 4em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.712);
}
