.image {
  width: 350px;
  height: 505px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1em;
  border-radius: 1%;
}
.left {
  float: left;
  width: 65%;
}

.image-container {
  float: left;
  width: 20%;
  position: relative;
  right: 12em;
  background-color: #ffb20f;
  background-position-x: 100% 50%;
}

.mission,
.programs {
  width: 79%;
  margin: 1em;
  display: flex;
}
