.image {
  width: 36vw;
  height: 104vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1em;
  border-radius: 1%;
}
.leftcolumn {
  width: 60%;
  float: left;
}

.about {
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1504080275154-fc19d1d8ceb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
  background-size: cover;
  background-position: center;
  padding-top: 2%;
  padding-bottom: 1%;
}
.image-container {
  float: left;
  width: 40%;
  padding-left: 1vw;
}

.mission,
.programs {
  width: 100%;
  margin: 1em;
  display: flex;
}
