.faq {
  background-image: url(https://images.unsplash.com/photo-1542325059222-f8a794ccf28d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80);
  background-position: center;
  background-size: cover;
}

.faqHeader {
  color: white;
  background-color: #124559;
  height: 2em;
  padding-top: 13px;
}

.faqHeader1 {
  color: white;
  font-size: 50px;
  margin: 0;
}
.link {
  color: white;
}
