.refer-button {
  text-align: center;
  margin: 2em;
}
.welcome {
  color: #ffb20f;
  margin-top: -10px;
  margin-left: 1em;
}

.account {
  background-color: lightgray;
  background-position: center;
}

.left {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1465479423260-c4afc24172c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
}

.right {
  display: flex;
  width: 20%;
  z-index: 10;
  position: absolute;
}
